<!-- cookies and session popup -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-4 fixed-top popup">
            <div id="popup" class="alert bg-white text-black fade show none" role="alert">
                <h3>LinoCinema</h3>
                <p>This site uses cookies and sessions.
                </p>
                <button id="popup-close" class="btn btn-sm btn-success text-black float-right">
                    <b>Access cookies</b>
                </button>
            </div>
        </div>
    </div>
</div>