{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block sitelogo %}
    <meta itemprop="image", property="og:image" content="{% static 'images/logo.png' %}">
    <meta property="og:image:width" content="1277">
    <meta property="og:image:height" content="473">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.linocinema.com/">
{% endblock %}
{% block description %}
    <meta property="og:description" content="Looking for a free movie or tvshow website that allows you to download movies or tvshows online without any popunder ads and annoying link ups? then LinoCinema is the best website for you. LinoCinema allows you to request for an unfound movie or tvshow you're interested in." />
	<meta itemprop="description" name="description" content="Looking for a free movie or tvshow website that allows you to download movies or tvshows online without any popunder ads and annoying link ups? then LinoCinema is the best website for you. LinoCinema allows you to request for an unfound movie or tvshow you're interested in." />
{% endblock %}
{% block keywords %}
    <meta name="keywords" content="latest, series, new, fast, easy, adsfree, low, mb, linocinema, movies, tvshows, nigerian, open, explore" />
{% endblock %}
{% block toplink %}
    <style>
		body {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 60%, #000000 100%), url("{% static 'images/home.jpg' %}") !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			background-attachment: scroll !important;
			background-size: cover !important;
		}
	</style>
{% endblock %}
{% block title %}
    <meta property="og:title" content="LinoCinema||Official">
    <title>LinoCinema||Official</title>
{% endblock %}
{% block schema %}
    <script type="application/ld+json">
        [{
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "https://www.linocinema.com/"
            }]
        }]
    </script>
{% endblock %}

{% block content %}
    <section>
        <div class="w-100">
            <div class="row no-gutters">
                <!-- now playing movies -->
                <div class="col-sm-12 mt-2">
                    <a href="" class="text-warning">
                        <span class="font-weight-bold">Movies playing now</span>
                    </a>
                    <div class="swiper-container swiper-container-movies">
                        <div class="swiper-wrapper">
                            {% for movie in movies %}
                                {% if movie.permission == 1 %}
                                    <div class="col-6 col-md-2 text-capitalize swiper-slide">
                                        <div class="card card-small-h border border-white">
                                            <a href="{% url 'movies_detail_page' pk=movie.id %}" class="img-custom-fluid">
                                                {% if movie.image_link != "None" %}
                                                    <img src="{{ movie.image_link }}" loading="lazy" alt="{{ movie.title }} image" width="100%" height="100%">
                                                {% else %}
                                                    <img src="{{ movie.image.url }}" loading="lazy" alt="{{ movie.title }} image" width="100%" height="100%">
                                                {% endif %}
                                                <span class="material-icons align-bottom md-50 text-white play-btn">play_circle</span>
                                            </a>
                                            <div class="card-head">
                                                <span class="card-480p">
                                                    480p
                                                </span>
                                                <span class="card-mb">
                                                    {{ movie.mb }}mb
                                                </span>
                                            </div>
                                            <div class="card-body">
                                                <a href="{% url 'movies_detail_page' pk=movie.id %}">{{ movie.title|truncatechars:20 }}</a>
                                                <div class="card-tag">
                                                    <span>movies, {{ movie.genre|capfirst }}</span>
                                                </div>
                                                <div class="card-year">
                                                    <span class="material-icons align-bottom md-18 text-warning">query_builder</span>
                                                    <span class="text-white">{{ movie.year }}</span>
                                                </div>
                                                <div class="card-rating">
                                                    <span class="imdb">
                                                        <span class="imdbRatingPlugin pl-1 h6" data-user="ur117896980" data-title="{{ movie.rate }}" data-style="p4">
                                                            <a href="https://www.imdb.com/title/{{ movie.rate }}/?ref_=plg_rt_1"></a>
                                                        </span>
                                                        <script>
                                                            (function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js";stags.parentNode.insertBefore(js,stags);})(document,"script","imdb-rating-api");
                                                        </script>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- now playing tvshow -->
                <div class="col-sm-12 mt-2">
                    <a href="" class="text-warning">
                        <span class="font-weight-bold">Tvshows playing now</span>
                    </a>
                    <div class="swiper-container swiper-container-tvshows">
                        <div class="swiper-wrapper">
                            {% for tvshow in tvshows %}
                                <div class="col-6 col-md-2 text-capitalize swiper-slide">
                                    <div class="card card-small-h border border-white">
                                        <a href="{% url 'tvshows_detail_page' pk=tvshow.id %}" class="img-custom-fluid">
                                            {% if tvshow.image_link != "None" %}
                                                <img src="{{ tvshow.image_link }}" loading="lazy" alt="{{ tvshow.title }} image" width="100%" height="100%">
                                            {% else %}
                                                <img src="{{ tvshow.image.url }}" loading="lazy" alt="{{ tvshow.title }} image" width="100%" height="100%">
                                            {% endif %}
                                            <span class="material-icons align-bottom md-50 text-white play-btn">play_circle</span>
                                        </a>
                                        <div class="card-head">
                                            <span class="card-480p">
                                                480p
                                            </span>
                                            <span class="card-mb">
                                                <span class="material-icons align-bottom">tv</span>tv
                                            </span>
                                        </div>
                                        <div class="card-body">
                                            <a href="{% url 'tvshows_detail_page' pk=tvshow.id %}">{{ tvshow.title|truncatechars:20 }}</a>
                                            <div class="card-tag">
                                                <span>tvshow, {{ tvshow.genre|capfirst }}</span>
                                            </div>
                                            <div class="card-year">
                                                <span class="material-icons align-bottom md-18 text-warning">query_builder</span>
                                                <span class="text-white">{{ tvshow.year }}</span>
                                            </div>
                                            <div class="card-rating">
                                                <span class="imdb">
                                                    <span class="imdbRatingPlugin pl-1 h6" data-user="ur117896980" data-title="{{ tvshow.rate }}" data-style="p4">
                                                        <a href="https://www.imdb.com/title/{{ tvshow.rate }}/?ref_=plg_rt_1"></a>
                                                    </span>
                                                    <script>
                                                        (function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js";stags.parentNode.insertBefore(js,stags);})(document,"script","imdb-rating-api");
                                                    </script>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}