{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block sitelogo %}
    <meta itemprop="image", property="og:image" content="{% static 'images/logo.png' %}">
    <meta property="og:image:width" content="1277">
    <meta property="og:image:height" content="473">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.linocinema.com/">
{% endblock %}
{% block description %}
    <meta property="og:description" content="Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the 'Software')..." />
	<meta itemprop="description" name="description" content="Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the 'Software')..." />
{% endblock %}
{% block keywords %}
    <meta name="keywords" content="latest, series, new, fast, easy, adsfree, low, mb, linocinema, movies, tvshows, nigerian, open, explore" />
{% endblock %}
{% block toplink %}
    <style>
		body {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 60%, #000000 100%), url("{% static 'images/policies.jpg' %}") !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			background-attachment: scroll !important;
			background-size: cover !important;
		}
	</style>
{% endblock %}
{% block title %}
    <meta property="og:title" content="LinoCinema||Terms of Service">
    <title>LinoCinema||Terms of Service</title>
{% endblock %}
{% block schema %}
    <script type="application/ld+json">
        [{
			"@context": "https://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [{
				"@type": "ListItem",
				"position": 1,
				"name": "Home",
				"item": "https://www.linocinema.com/"
			},
			{
				"@type": "ListItem",
				"position": 2,
				"name": "Terms of service",
				"item": "https://www.linocinema.com/terms_of_service"
			}]
		}]
    </script>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 text-white">
                    <h4 class="text-center">
                    <span class="material-icons align-bottom">gavel</span> <b>Terms of Service</b>
                    </h4>
                    <h5>
                    1. Terms
                    </h5>
                    <p>
                    By accessing the website at <a href="https://www.linocinema.com">https://www.linocinema.com</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
                    </p>
                    <h5>
                    2. Use License
                    </h5>
                    <ol type="a">
                    <li>
                        <p>

                            Permission is hereby granted, free of charge, to any person obtaining a copy
                            of this software and associated documentation files (the "Software"), to deal
                            in the Software without restriction, including without limitation the rights
                            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                            copies of the Software, and to permit persons to whom the Software is
                            furnished to do so, subject to the following conditions:

                        </p>
                    </li>
                    <li>
                        <p>

                            The above copyright notice and this permission notice shall be included in all
                            copies or substantial portions of the Software.

                        </p>
                    </li>
                    </ol>
                    <h5>
                    3. Disclaimer
                    </h5>
                    <ol type="a">
                    <li>The materials on Linocinema's website are provided on an 'as is' basis. Linocinema makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
                    <li>Further, Linocinema does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
                    </ol>
                    <h5>
                    4. Limitations
                    </h5>
                    <p>
                    In no event shall Linocinema or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Linocinema's website, even if Linocinema or a Linocinema authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
                    </p>
                    <h5>
                    5. Accuracy of materials
                    </h5>
                    <p>
                    The materials appearing on Linocinema's website could include technical, typographical, or photographic errors. Linocinema does not warrant that any of the materials on its website are accurate, complete or current. Linocinema may make changes to the materials contained on its website at any time without notice. However Linocinema does not make any commitment to update the materials.
                    </p>
                    <h5>
                    6. Links
                    </h5>
                    <p>
                    Linocinema has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Linocinema of the site. Use of any such linked website is at the user's own risk.
                    </p>
                    <h5>
                    7. Modifications
                    </h5>
                    <p>
                    Linocinema may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
                    </p>
                    <p>
                    <a href="https://getterms.io" title="Generate a free terms of use document">Terms of Use created with GetTerms.</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}