{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block sitelogo %}
    <meta itemprop="image", property="og:image" content="{% static 'images/logo.png' %}">
    <meta property="og:image:width" content="1277">
    <meta property="og:image:height" content="473">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.linocinema.com/">
{% endblock %}
{% block description %}
    <meta property="og:description" content="Use the form to change you linocinema user account password." />
	<meta itemprop="description" name="description" content="Use the form to change you linocinema user account password." />
{% endblock %}
{% block keywords %}
    <meta name="keywords" content="latest, series, new, fast, easy, adsfree, low, mb, linocinema, movies, tvshows, nigerian, open, explore" />
{% endblock %}
{% block toplink %}
    <style>
		body {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 60%, #000000 100%), url("{% static 'images/authentication.jpg' %}") !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			background-attachment: scroll !important;
			background-size: cover !important;
		}
	</style>
{% endblock %}
{% block title %}
    <meta property="og:title" content="LinoCinema||Change password">
    <title>LinoCinema||Change password</title>
{% endblock %}

{% block content %}
    <section>
        <div class="container h-100">
            <div class="row h-100 justify-content-center">
                <div class="col-sm-6 text-center text-white align-self-center">
                    <h1 class="title">
                        <i style="position: absolute;" class="fas fa-user-circle"></i>
                        <img src="{% static 'images/logo.png' %}" width="150" height="150" class="border border-white rounded-circle" loading="lazy" alt="LinoCinema logo">
                        <h4>
                            <b>Change password</b>
                        </h4>
                    </h1>
                    {% if validlink %}
                    <form method="POST" class="mx-auto border-p-custom mt-3 border-bottom border-white">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="row justify-content-center">
                                <div class="col-sm-9 form-group">
                                    {{ field.label }}
                                    {{ field|add_class:'form-control form-control-custom mt-1'}}
                                    {% for error in field.errors %}
                                        <i class="text-danger">{{ error }}</i>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row justify-content-center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-md bg-white text-black border-none">
                                    Change password
                                </button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <div class="mx-auto alert-danger border-p-custom mt-3 border-bottom border-dark">
                        <p>
                            The password reset link was invalid, possibly because it has already been used.
                            Please request a new password reset.
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}