{% autoescape off %}
    To initiate the password reset process for your {{ user.get_username }} LinoCinema Account,
    click the link below:

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    If clicking the link above doesn't work, please copy and paste the URL in a new browser
    window instead.

    Check out our new, cool and hot movies by clicking the link below
    {{ protocol }}://{{ domain }}/movies

    OR

    Oour new, cool and hot tvshows by clicking the link below
    {{ protocol }}://{{ domain }}/tvshows

    Thank you for using LinoCinema.

    Sincerely,
    The LinoCinema Team
{% endautoescape %}