{% extends "admin/base.html" %}
{% load static %}
<!-- ADMIN CUSTOM STYLING -->
{% block extrastyle %}
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/admin.min.css' %}">
{% endblock %}

{% block title %}

    LinoCinema||{{ title }}

{% endblock %}

    {% block branding %}
        <h1 id="site-name">
            <a href="{% url 'admin:index' %}">
                LinoCinema Administration
            </a>
        </h1>
    {% endblock %}

{% block nav-global %}{% endblock %}