{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block sitelogo %}
    <meta itemprop="image", property="og:image" content="{% static 'images/logo.png' %}">
    <meta property="og:image:width" content="1277">
    <meta property="og:image:height" content="473">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.linocinema.com/">
{% endblock %}
{% block description %}
    <meta property="og:description" content="Get free new, trending and hot movies on linocinema with an Mb range of 100Mb-350Mb with 250Mb on average." />
	<meta itemprop="description" name="description" content="Get free new, trending and hot movies on linocinema with an Mb range of 100Mb-350Mb with 250Mb on average." />
{% endblock %}
{% block keywords %}
    <meta name="keywords" content="latest, series, new, fast, easy, adsfree, low, mb, linocinema, movies, tvshows, nigerian, open, explore" />
{% endblock %}
{% block toplink %}
    <style>
		body {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 60%, #000000 100%), url("{% static 'images/movies.jpg' %}") !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			background-attachment: scroll !important;
			background-size: cover !important;
		}
	</style>
{% endblock %}
{% block title %}
    <meta property="og:title" content="LinoCinema||Movies">
    <title>LinoCinema||Movies</title>
{% endblock %}
{% block schema %}
    <script type="application/ld+json">
        [{
			"@context": "https://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [{
				"@type": "ListItem",
				"position": 1,
				"name": "Home",
				"item": "https://www.linocinema.com/"
			},
			{
				"@type": "ListItem",
				"position": 2,
				"name": "Movies",
				"item": "https://www.linocinema.com/movies/"
			}]
		}]
    </script>
{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 text-center text-white">
                    <h4>
                        <span class="material-icons align-bottom">movie</span> <b>Movies</b>
                    </h4>
                </div>
                {% for movie in movies %}
                    {% if movie.permission == 1 %}
                        <div class="col-6 col-md-2 text-capitalize">
                            <div class="card card-small-h border border-white">
                                <a href="{% url 'movies_detail_page' pk=movie.id %}" class="img-custom-fluid">
                                    {% if movie.image_link != "None" %}
                                        <img src="{{ movie.image_link }}" loading="lazy" alt="{{ movie.title }} image" width="100%" height="100%">
                                    {% else %}
                                        <img src="{{ movie.image.url }}" loading="lazy" alt="{{ movie.title }} image" width="100%" height="100%">
                                    {% endif %}
                                    <span class="material-icons align-bottom md-50 text-white play-btn">play_circle</span>
                                </a>
                                <div class="card-head">
                                    <span class="card-480p">
                                        480p
                                    </span>
                                    <span class="card-mb">
                                        {{ movie.mb }}mb
                                    </span>
                                </div>
                                <div class="card-body">
                                    <a href="{% url 'movies_detail_page' pk=movie.id %}">{{ movie.title|truncatechars:20 }}</a>
                                    <div class="card-tag">
                                        <span>movies, {{ movie.genre }}</span>
                                    </div>
                                    <div class="card-year">
                                        <span class="material-icons align-bottom md-18 text-warning">query_builder</span>
                                        <span class="text-white">{{ movie.year }}</span>
                                    </div>
                                    <div class="card-rating">
                                        <span class="imdb">
                                            <span class="imdbRatingPlugin pl-1 h6" data-user="ur117896980" data-title="{{ movie.rate }}" data-style="p4">
                                                <a href="https://www.imdb.com/title/{{ movie.rate }}/?ref_=plg_rt_1"></a>
                                            </span>
                                            <script>
                                                (function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js";stags.parentNode.insertBefore(js,stags);})(document,"script","imdb-rating-api");
                                            </script>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- pagination -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 text-center">
                    <div class="mt-1">
                        <ul class="pagination justify-content-center">
                            {% if movies.has_previous %}
                                <li><a href="?page={{ movies.previous_page_number }}" class="text-black"><span class="material-icons align-bottom">chevron_left</span></a></li>
                            {% else %}
                                <li class="disabled"><span class="material-icons align-bottom">chevron_left</span></li>
                            {% endif %}

                            {% if movies.number|add:'-4' > 1 %}
                                <li><a href="?page={{ movies.number|add:'-5' }}">&hellip;</a></li>
                            {% endif %}

                            {% for i in movies.paginator.page_range %}
                                {% if movies.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% elif i > movies.number|add:'-5' and i < movies.number|add:'5' %}
                                    <li><a href="?page={{ i }}" style="padding: 5px;">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if movies.paginator.num_pages > movies.number|add:'4' %}
                                <li><a href="?page={{ movies.number|add:'5' }}">&hellip;</a></li>
                            {% endif %}

                            {% if movies.has_next %}
                                <li><a href="?page={{ movies.next_page_number }}" class="text-black"><span class="material-icons align-bottom">chevron_right</span></a></li>
                            {% else %}
                                <li class="disabled"><span class="material-icons align-bottom">chevron_right</span></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}