{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block sitelogo %}
    {% if tvshow_detail.image_link != "None" %}
        <meta itemprop="image", property="og:image" content="{{ tvshow_detail.image_link }}">
    {% else %}
        <meta itemprop="image", property="og:image" content="{{ tvshow_detail.image.url }}">
    {% endif %}
    <meta property="og:image:width" content="1277">
    <meta property="og:image:height" content="473">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.linocinema.com/">
{% endblock %}
{% block description %}
    <meta property="og:description" content="{{ tvshow_detail.description }}" />
	<meta itemprop="description" name="description" content="{{ tvshow_detail.description }}" />
{% endblock %}
{% block keywords %}
    <meta name="keywords" content="latest, series, new, fast, easy, adsfree, low, mb, linocinema, movies, tvshows, nigerian, open, explore" />
{% endblock %}
{% block toplink %}
    <style>
		body {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 60%, #000000 100%), url("{% if tvshow_detail.image_link != 'None' %}{{ tvshow_detail.image_link }}{% else %}{{ tvshow_detail.image.url }}{% endif %}") !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			background-attachment: scroll !important;
			background-size: cover !important;
		}
	</style>
{% endblock %}
{% block title %}
    <meta property="og:title" content="LinoCinema||{{ tvshow_detail.title }}">
    <title>LinoCinema||{{ tvshow_detail.title }}</title>
{% endblock %}
{% block schema %}
    <script type="application/ld+json">
        [{
			"@context": "https://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [{
				"@type": "ListItem",
				"position": 1,
				"name": "Home",
				"item": "https://www.linocinema.com/"
			},
			{
				"@type": "ListItem",
				"position": 2,
				"name": "Tvshows",
				"item": "https://www.linocinema.com/tvshows/"
            },
            {
				"@type": "ListItem",
				"position": 3,
				"name": "{{ tvshow_detail.title }}",
				"item": "https://www.linocinema.com/tvshows/{{ tvshow_detail.id }}"
			}]
		}]
    </script>
{% endblock %}

{% block content %}
    <section>
        {% if tvshow_detail %}
            <div class="container mb-2 text-white">
                <div class="row">
                    <div style="position: relative;" class="col-sm-6 mt-2 text-center">
                        <div class="row justify-content-center">
                            <div class="detail_img">
                                {% if tvshow_detail.image_link != "None" %}
                                    <img src="{{ tvshow_detail.image_link }}" class="img" loading="lazy" alt="{{ tvshow_detail.title }} image" width="100%" height="100%">
                                {% else %}
                                    <img src="{{ tvshow_detail.image.url }}" class="img" loading="lazy" alt="{{ tvshow_detail.title }} image" width="100%" height="100%">
                                {% endif %}
                            </div>
                            <i style="position: absolute; top: -16px;" class="fa text-warning fa-2x fa-star"></i>
                        </div>
                        <h3 class="text-capitalize">
                            <b>{{ tvshow_detail.title }}</b>
                        </h3>
                        <div style="font-size: 14px;" class="row justify-content-center">
                            <div class="col-10 col-sm-7 text-center">
                                <span class="float-left">
                                    <i class="fa text-warning fa-clock"></i>
                                    {{ tvshow_detail.year }}
                                </span>
                                <span>
                                    <i class="fa text-warning fa-list"></i>
                                    Tvshow
                                </span>
                                <span class="imdbRatingPlugin pl-1 text-white h6" data-user="ur117896980" data-title="{{ tvshow_detail.rate }}" data-style="p4">
                                    <i class="fa text-warning fa-star"></i>
                                    <a href="https://www.imdb.com/title/{{ tvshow_detail.rate }}/?ref_=plg_rt_1"></a>
                                </span>
                                <script>
                                    (function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js";stags.parentNode.insertBefore(js,stags);})(document,"script","imdb-rating-api");
                                </script>
                                <span class="float-right">
                                    <i class="fa text-warning fa-tag"></i>
                                    {{ tvshow_detail.genre|capfirst }}
                                </span>
                            </div>
                            <div class="col-sm-12">
                                <p>
                                    {{ tvshow_detail.description }}
                                </p>
                                <b>Language:</b>
                                {{ tvshow_detail.language|capfirst }}
                                <br/>
                                <b>Uploaded on:</b>
                                {{ tvshow_detail.added_on|naturaltime }}
                                <br/>
                                <b>Uploaded by:</b>
                                {% if tvshow_detail.user == None %}
                                    @Unknown
                                {% else %}
                                    <button class="btn btn-sm btn-normal" data-toggle="modal" data-target="#userInfoModal">
                                        <h6>@{{ tvshow_detail.user|capfirst }}</h6>
                                    </button>
                                    <div class="modal fade text-black" id="userInfoModal" tabindex="-1" role="dialog" aria-labelledby="userInfoModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content border-none">
                                                <div class="modal-header justify-content-center">
                                                    <h6 class="modal-title text-center" id="userInfoModalLabel">
                                                        <span class="material-icons align-bottom">account_circle</span>
                                                        user info
                                                    </h6>
                                                </div>
                                                <div style="text-transform: none;" class="modal-body">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <b>Userame:</b>
                                                            <br/>
                                                            {{ tvshow_detail.user|capfirst|truncatechars:15 }}
                                                            <br/>
                                                            <b>Email:</b>
                                                            <br/>
                                                            {{ tvshow_detail.user.email|truncatechars:15 }}
                                                            <br/>
                                                            <b>Status:</b>
                                                            <br/>
                                                            {% if request.user.is_active %}
                                                                <i class="text-success">active</i>
                                                            {% else %}
                                                                <i class="text-danger">inactive</i>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-6">
                                                            <b>Uploaded:</b>
                                                            <br/>
                                                            {{ tvshow_count }}
                                                            <br/>
                                                            <b>Last Upload:</b>
                                                            <br/>
                                                            {{ tvshow_last.added_on|naturaltime }}
                                                            <br/>
                                                            <b>Joined:</b>
                                                            <br/>
                                                            {{ tvshow_detail.user.date_joined|naturaltime }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer border-none">
                                                    <button class="btn btn-sm bg-black text-white home-card-btn" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-2">
                        <iframe class="detail_trailer" width="100%" height="100%" src="https://www.youtube.com/embed/{{ tvshow_detail.trailer }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <p class="alert alert-info border-none">
                            The season links in the select season pop-up will send you to our storage.
                            If help needed on how to download click
                            <a href="{% url 'how_to' %}">HERE</a>
                        </p>
                    </div>
                </div>

                <div class="row justify-content-center border border-white p-2">
                    <div class="col-sm-6 text-capitalize text-center">
                        <h6 class="text-white">
                            <span>
                                Episode size range from 50Mb-150Mb. 100Mb on average.
                            </span>
                            <br/>
                            <button class="btn btn-md btn-light border-none" data-toggle="modal" data-target="#seasonModal">
                                <span class="material-icons align-bottom">list</span>
                                Seasons
                            </button>
                            <div class="modal fade text-black" id="seasonModal" tabindex="-1" role="dialog" aria-labelledby="seasonModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm modal-dialog-scrollable" role="document">
                                    <div class="modal-content border-none">
                                        <div class="modal-header justify-content-center">
                                            <h5 class="modal-title text-center" id="seasonModalLabel">
                                                <span class="material-icons align-bottom">list</span>
                                                Select
                                            </h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row justify-content-center">
                                                <div class="col-sm-12 text-center">
                                                    <ul class="list-unstyled">
                                                        {% for season in seasons %}
                                                            {% if tvshow_detail.id == season.tvshow.id %}
                                                                <li>
                                                                    <a class="btn btn-sm" target="__blank" href="{{ season.episode_download_link }}">
                                                                        Season {{ season.season_number }}
                                                                        Episode {{ season.episode_number }}
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer border-none">
                                            <button class="btn btn-sm bg-black text-white home-card-btn" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </h6>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h4 class="text-white">Share Page Link</h4>
                        <script>
                            var a2a_config = a2a_config || {};
                            a2a_config.icon_color = "#ffffff,#000000";
                        </script>
                        <style type="text/css">
                            #my_centered_buttons { display: flex; justify-content: center; }
                        </style>
                        <!-- AddToAny BEGIN -->
                        <div class="a2a_kit a2a_kit_size_32 a2a_default_style"  id="my_centered_buttons">
                            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                            <a class="a2a_button_copy_link"></a>
                            <a class="a2a_button_whatsapp"></a>
                            <a class="a2a_button_facebook"></a>
                            <a class="a2a_button_twitter"></a>
                        </div>
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                        <!-- AddToAny END -->
                    </div>
                </div>
            </div>

            {% if related_tvshows %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 text-center text-white">
                            <div class="h5">
                                <b>Ralated Tvshows</b>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="swiper-container swiper-container-tvshows">
                                <div class="swiper-wrapper">
                                    {% for related_tvshow in related_tvshows %}
                                        {% if related_tvshow.genre == tvshow_detail.genre %}
                                            {% if related_tvshow.title == tvshow_detail.title and related_tvshow.year == tvshow_detail.year %}

                                            {% else %}
                                                <div class="col-6 col-md-2 text-capitalize swiper-slide">
                                                    <div class="card card-small-h border border-white">
                                                        <a href="{% url 'tvshows_detail_page' pk=related_tvshow.id %}" class="img-custom-fluid">
                                                            {% if related_tvshow.image_link != "None" %}
                                                                <img src="{{ related_tvshow.image_link }}" loading="lazy" alt="{{ related_tvshow.title }} image" width="100%" height="100%">
                                                            {% else %}
                                                                <img src="{{ related_tvshow.image.url }}" loading="lazy" alt="{{ related_tvshow.title }} image" width="100%" height="100%">
                                                            {% endif %}
                                                            <span class="material-icons align-bottom md-50 text-white play-btn">play_circle</span>
                                                        </a>
                                                        <div class="card-head">
                                                            <span class="card-480p">
                                                                480p
                                                            </span>
                                                            <span class="card-mb">
                                                                <span class="material-icons align-bottom">tv</span>tv
                                                            </span>
                                                        </div>
                                                        <div class="card-body">
                                                            <a href="{% url 'tvshows_detail_page' pk=related_tvshow.id %}">{{ related_tvshow.title|truncatechars:20 }}</a>
                                                            <div class="card-tag">
                                                                <span>tvshow, {{ related_tvshow.genre|capfirst }}</span>
                                                            </div>
                                                            <div class="card-year">
                                                                <span class="material-icons align-bottom md-18 text-warning">query_builder</span>
                                                                <span class="text-white">{{ related_tvshow.year }}</span>
                                                            </div>
                                                            <div class="card-rating">
                                                                <span class="imdb">
                                                                    <span class="imdbRatingPlugin pl-1 h6" data-user="ur117896980" data-title="{{ related_tvshow.rate }}" data-style="p4">
                                                                        <a href="https://www.imdb.com/title/{{ related_tvshow.rate }}/?ref_=plg_rt_1"></a>
                                                                    </span>
                                                                    <script>
                                                                        (function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js";stags.parentNode.insertBefore(js,stags);})(document,"script","imdb-rating-api");
                                                                    </script>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}